.skills__content {
  @include flex-column;
  gap: 3.5rem;

  @include respond-up(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

.skills__column {
  @include flex-column;
  gap: 2rem;
}

.skill__title {
  @include font(600, 2.6rem, 1.2);
  color: rgb(var(--color-white));

  @include respond-up(lg) {
    @include font(600, 3rem, 1.2);
  }
}
