.hard {
  @include flex-column-between;
  min-height: 45rem;
  min-width: 53rem;
}

.hard__title {
  @include font(600, 3rem, 1.2);
  color: rgb(var(--color-white));
}

.hard__skills {
  @include flex-column-start;
  gap: 2rem;
}
