.block {
  @include flex-column;
  gap: 2rem;
  min-width: 35rem;
  min-height: 30rem;
  border: 0.1rem solid rgb(var(--color-white), 0.1);
  padding: 2rem;
  border-radius: 1.2rem;
  background-color: rgba(var(--color-white), 0.1);
  transition: all var(--transition);

  &:hover {
    box-shadow: var(--box-shadow-accent);
    transform: translateY(var(--translateY));
    background-color: rgba(var(--color-white), 0.2);
  }
}

.block__period-wrapper {
  @include flex-center;

  padding: 0.4rem 1rem;
  border-radius: 99rem;

  background: linear-gradient(
    135deg,
    rgba(var(--color-accent), 0.2),
    rgba(var(--color-accent), 0.05)
  );

  border: 0.1rem solid rgba(var(--color-accent), 0.3);

  backdrop-filter: blur(0.6rem);
}

.block__period {
  @include font(500, 1.1rem, 1.2);
  color: rgb(var(--color-white));
  letter-spacing: 0.03em;
}

.block__info {
  @include flex-column-center;
  gap: 1rem;
}

.block__info-company-role {
  @include font(600, 1.4rem, 1.2);
  color: rgb(var(--color-white));
}

.block__info-stack {
  @include font(400, 1rem, 1.2);
  color: rgba(var(--color-white), 0.6);
}

.block__stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;

  span {
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;

    background: rgba(var(--color-accent), 0.1);
    color: rgba(var(--color-white), 0.6);
    border: 0.1rem solid rgba(var(--color-accent), 0.2);

    font-size: 0.9rem;
  }
}

.block__description {
  @include flex-column;
  gap: 0.8rem;
}

.block__description-item {
  @include font(400, 1rem, 1.4);

  position: relative;
  padding-left: 1.2rem;

  color: rgba(var(--color-white), 0.85);

  width: 100%;
}

.block__description-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.6rem;

  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;

  background: rgb(var(--color-accent));
  box-shadow: var(--box-shadow-accent);
}
