.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--container-padding);
}

.section {
  padding: 2rem 13rem;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--container-padding);
}
