.experience {
  @include flex-column-center;
  gap: 4rem;
}

.experience__blocks {
  @include flex-center;
  gap: 2rem;
}

.experience__title {
  @include font(600, 3rem, 1.2);
  color: rgb(var(--color-white));
  align-self: flex-start;
}
