.skill {
  @include flex-column-start;
  gap: 0.5rem;
}

.skill__title {
  @include font(600, 2rem, 1.2);
  color: rgb(var(--color-white));
}

.group {
  @include flex-center;
  gap: 1rem;
}

.group__title {
  @include font(600, 1.5rem, 1.2);
  color: rgb(var(--color-white));
}

.group__items {
  @include flex-center;
  gap: 0.5rem;
}

.tag {
  @include font(400, 1rem, 1.2);
  color: rgb(var(--color-white));
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
  background-color: rgb(var(--color-black));
  border: 0.1rem solid rgb(var(--color-white));
}

.tag {
  transition: all var(--transition);

  &:hover {
    box-shadow: var(--box-shadow-accent);
    transform: translateY(var(--translateY));
  }
}
