.soft__title {
  @include font(600, 3rem, 1.2);
  color: rgb(var(--color-white));
}

.soft__items {
  @include flex-column;
  gap: 1rem;

  @include respond-up(sm) {
    display: grid;
    gap: 1rem;
  }
}

.skill {
  @include flex-column;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 1.2rem;
  height: 26rem;
  width: 11.5rem;
  background-color: var(--bg-gray);
  border: 0.1rem solid rgb(var(--color-white), 0.1);
  box-shadow: var(--box-shadow-white);

  transition: all var(--transition);

  @include respond-up(md) {
    height: 24.5rem;

    &:hover {
      transform: translateY(var(--translateY));
      box-shadow: var(--box-shadow-accent);
    }
  }

  @include respond-up(sm) {
    height: 25rem;
    width: auto;
  }
}

.skill__title {
  @include font(600, 1.2rem, 1.2);
  color: rgb(var(--color-white));

  @include respond-up(md) {
    @include font(600, 1.8rem, 1.2);
  }
}

.skill__points {
  @include flex-column;
  gap: 2rem;
}

.skill__point {
  @include font(400, 1rem, 1.2);
  color: rgb(var(--color-white));

  @include respond-up(md) {
    @include font(400, 1.2rem, 1.2);
  }
}
